.title-container {
  display: flex;
  position: relative;
}
.title-link {
  display: contents;
}
.title-title {
  color: var(--dl-color-scheme-white);
  height: 125px;
  font-size: 52px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
